body {
    
}
 .header-logo li{
    list-style:none;
    float: left;
    margin:30px;

}

h1{
    color:blue;
    font-style: italic ;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.header-logo {
    font-style: normal;
    background-color: rgb(214, 29, 29);
    height: 100px;
    
}
.header-social {
    float:right;
    padding:10px 18px;
    
}
main {
   
    width: auto;
    height: 700px;
    background-image: url("www/image.jpg " );
    background-repeat: no-repeat;
    background-size: 100%;
    
    
}
.main-image{
    float: right;
    opacity: 0.8;
    padding: 0px 160px 0px 0px;
}
.main-about{
    text-align: center;
    color: chartreuse;
}
.main-hobbies{
    text-align: center;
    color: darkblue;
}

footer  li {
    float: left;
    color: rgb(53, 31, 199);
    margin : 30px;
   list-style: none ;

}
footer {
    color:rgb(12, 6, 17);
    background-image: url("www/images.jpg");
    height:320px;
    font-size:small;
    padding-bottom: 50px;
    background-size: 100%;
}
footer h2 {
    color: crimson;
}